{% extends "blog/base.html" %} {% block content %} {% if validlink %}
<p><center>새로운 비밀번호를 입력하세요.</center></p>
<form action="" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td><center>
        {{ form.new_password1.errors }}
        <label for="id_new_password1">새로운 비밀번호:</label>
      </td>
      <td>{{ form.new_password1 }}</center></td>
    </tr>
    <tr>
      <td>
        <center>{{ form.new_password2.errors }}
        <label for="id_new_password2">비밀번호 확인:</label>
      </td>
      <td>{{ form.new_password2 }}</center></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Change my password" /></td>
    </tr>
  </table>
</form>
{% else %}
<h1><center>비밀번호 초기화 실패</center></h1>
<p><center>비밀번호 초기화 링크가 유효하지 않거나 이미 있는 비밀번호입니다. 새로운 비밀번호를 초기화하기 바랍니다.</center>
</p>
{% endif %} {% endblock %}
